<div class="container">
  <h3>Converter</h3>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Name</label>
        <input class="form-control" type="text" (input)="getName($event)">
      </div>
    </div>
    <div class="col-md-6">
      <label><b>Name</b></label>
      <div>
        {{name | titlecase}}
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Last payment date</label>
        <input class="form-control" type="date" (input)="getDate($event)">
      </div>
    </div>
    <div class="col-md-6">
      <label><b>Last payment date</b></label>
      <div>
        {{date | date:'short'}}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Cost</label>
        <input class="form-control" type="number" (input)="getCost($event)">
      </div>
    </div>
    <div class="col-md-6">
      <label><b>Cost</b></label>
      <div>
        {{cost | currency: 'TRY'}}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Mil</label>
        <input class="form-control" type="number" (input)="getMiles($event)">
      </div>
    </div>
    <div class="col-md-6">
      <label><b>Kilometer</b></label>
      <div>
        {{km | convert:"km"}}
      </div>
    </div>
  </div>
</div>