<div class="card">
    <div class="card-image">
        <figure class="image is-4by3">
            <img [src]="imageUrl"/>
        </figure>
    </div>
    <div class="card-content">
        <div class="media">
            <div class="media-left">
                <figure class="image is-48x48">
                    <img [src]="iconUrl" />
                </figure>
            </div>
            <div class="media-content">
                <p class="title is-4">{{title}}</p>
                <p class="subtitle is-6">{{subtitle}}</p>
            </div>
        </div>
        <div class="content">{{content}}
            <a href="#">{{label1}}</a> <a href="#">{{label2}}</a>
            <a href="#">{{label3}}</a>
            <br />
            <time datetime="2016-1-1">19:07 PM - 21 Feb 2025</time>
        </div>
    </div>
</div>